body {
	margin: 0;
	color: #fff;
	overflow: hidden;
}

.parallax {
	perspective: 300px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 200%;
	perspective-origin-x: 100%;
}

.group {
	position: relative;
	height: 102vh;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.one {
	z-index: 5;
}

.two, .five, .seven {
	z-index: 3;
}

.three {
	z-index: 4;
}

.four, .six {
	z-index: 2;
}

.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -10px;
	transform-origin-x: 100%;
}

.deep {
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

.back {
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.base {
	transform: translateZ(0);
	z-index: 4;
}

.fore {
	transform: translateZ(90px) scale (0.7);
	z-index: 1;
}

.title {
	text-align: center;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*bg colors:*/

.one .base {
	background: #333;
}

.two .back {
	background-image: url(a1.jpg);
	background-position: center center;
	background-size: cover;
}

.three .base {
	background: #555;
}

.four .deep {
	background-image: url(a3.jpg);
	background-position: center center;
	background-size: cover;
}

.five .base {
	background: #777;
}

.six .back {
	background-image: url(a2.jpg);
	background-position: center center;
	background-size: cover;
}

.seven .base {
	background: #999;
}